body {
    font-family: Arial, sans-serif;
    background-image: url('fondo.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #53b42d;
}

p {
    font-size: 18px;
}

.result {
    font-weight: bold;
    margin-top: 10px;
}
